# Python In-class Exercise

### 1. Write a program to check whether an year entered by an user is leap year or not

In [1]:
year = eval(input('Enter your year:'))
if year!=0 and type(year)== int:
    if year%100==0:
        print(f"Your entered year is {year}. And it is leap year")
    elif year%4==0:
        print(f"Your entered year is {year}. And it is leap year")
    else:
        print(f"Your entered year is {year}. And it is not leap year.  Please try again !!")
else:
    print('You have enter wrong value.Please try again !! ')

Enter your year:1220
Your entered year is 1220. And it is leap year

### 2. Take a string containing punctuation marks as an input from user and write a program to remove all the  punctuation marks from a string

In [2]:
import string

strs = str(input('Enter your string:'))

for c in string.punctuation:
    strs= strs.replace(c,"")
print(f"\n Your String without punctuation:{strs}")
#EG. l*ots! o(f. p@u)n[c}t]u[a'ti\"on#$^?/

Enter your string:l*ots! o(f. p@u)n[c}t]u[a'ti\"on#$^?/

 Your String without punctuation:lots of punctuation

In [3]:
strings = str(input('Enter your string:'))
import re
print(re.sub(r'[^a-zA-Z0-9\s]', '', strings))

Enter your string:l*ots! o(f. p@u)n[c}t]u[a'ti\"on#$^?/
lots of punctuation

### 3. Take two separate numbers as input from the user and Write a program to swap 2 numbers without using temporary variable

In [4]:
num1 = eval(input("Enter First Number: "))
num2 = eval(input("Enter Second Number: "))
num1, num2 = num2, num1

print(f"Your swaped numbers are:- Now New First num: {num1} and New Second num: {num2}")

Enter First Number: 5
Enter Second Number: 6
Your swaped numbers are:- Now New First num: 6 and New Second num: 5

### 4. Write a program to print product of following variables
<br> integer = 10 
<br> string = "15"

In [5]:
integer = 10
string = "15"

print(f"Product of above variable is: {int(integer)*int(string)}")

Product of above variable is: 150

### 5. Write a program to print following pattern
<br>a
<br>b c
<br>d e f
<br>g h i j
<br>k l m n o
<br>p q r s t u

In [15]:
# Defined the list
lst = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u']

# Its length found
l = len(lst)

#convert it into iterator
lst_iter = iter(lst)
try:
    for i in range(1,l):
        for j in range(i):
            x = next(lst_iter)
            print(x,end='\t')
        print(end='\n')
except:
    pass
# for i in range(l,0,-1):
#     for j in range(i):
#         y = next(lst_iter)
#         print(y,end='\t')
#     print(end='\n')

a
b	c
d	e	f
g	h	i	j
k	l	m	n	o
p	q	r	s	t	u

### 6. Write a program to print tables from 2 to n, where n is provided by user

In [16]:
num = eval(input("Enter your digit to know its table:"))
for i in range(2,num+1):
    print(f'Table of {i} is:-')
    n = 0
    j = i
    while n <10:
        print(j)
        j+=i
        n+=1

Enter your digit to know its table:2
Table of 2 is:-
2
4
6
8
10
12
14
16
18
20

### 7. Write a program to read height (in centimeters) from user and then convert it to feet and inches

In [19]:
ht = eval(input("Enter your height (in centimeter):"))
#print(f"Your height in feet is {round(ht/30.48, 4)} and in inches is {round(ht/2.54, 4)}")
print(f"Your height in feet and inches is {(ht/2.54)//12} ft {round((ht/2.54)%12, 0)} inches")

Enter your height (in centimeter):175
Your height in feet and inches is 5.0 ft 9.0 inches

### 8. Write a program to print following pattern

                                                *
                                                * * 
                                                * * *
                                                * *
                                                *

In [22]:
num = eval(input("Enter your value of highest no. of stars:"))
for i in range(1,num):
    for j in range(i):
        print('*',end='\t')
    print(end='\n')
for i in range(num,0,-1):
    for j in range(i):
        print('*',end='\t')
    print(end='\n')

Enter your value of highest no. of stars:5
*
*	*
*	*	*
*	*	*	*
*	*	*	*	*
*	*	*	*
*	*	*
*	*
*

### 9. Below list contains age and name of five students. Convert the list into a dictionary such that the name is taken as key and the age before their name is taken as thier respective value in the dictionary

students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']
Output: {'Jon':26, 'Roger':34, 'Jessica':13, 'Monica':24, 'Ashton':65}

In [36]:
students = [26,'Jon',34,'Roger',13,'Jessica',24,'Monica',65,'Ashton']
output = {}
keys = []
values = []
for i in students:
    if type(i) is int:
        values.append(i)
    else:
        keys.append(i)
output = dict(zip(keys,values))
print(output)

{'Jon': 26, 'Roger': 34, 'Jessica': 13, 'Monica': 24, 'Ashton': 65}

### 10. Write a program to check whether two strings, taken from user, are anagram or not

In [54]:

str1 = input("Enter first word:")
str2 = input("Enter second word:")
print('------------------------------------')
if(sorted(str1)== sorted(str2)):
    print("The strings are anagrams.")
else:
    print("The strings aren't anagrams.") 
    
# from collections import Counter

# if(Counter(str1) == Counter(str2)):
#     print("The strings are anagrams.")
# else:
#     print("The strings aren't anagrams.")

Enter first word:bac
Enter second word:abc
------------------------------------
The strings are anagrams.

### 11. Write a program that sorts all the elements of the list according to the first letter, irrespective of their cases (uppercase or lowercase). Note: Do not use any inbuilt sorting function

In [87]:
Sour_Fruits= ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']
    
print(set([i for i in Sour_Fruits]))

{'Grapes', 'Limes', 'Kiwi', 'Lemon', 'Orange'}

In [78]:
ste = 'lemon'
ste.swapcase

'Lemon'

In [93]:
languages = ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

for i in range(len(languages) - 1):
    for j in range(0, len(languages) - i - 1):
        if (languages[j][0]).lower() > (languages[j + 1][0]).lower():
            languages[j + 1], languages[j] = languages[j], languages[j + 1]

print(languages)

['Grapes', 'Kiwi', 'Lemon', 'Limes', 'Orange']

### 12. Write a program that prints a list of sour fruits from the below tuple:
<br>fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') ) 

<br>**Output**: Sour Fruits: ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

In [65]:
fruits = (('Lemon','sour'), ('DragonFruit', 'Sweet'), ('Grapes','soUr'), ('Kiwi','Sour'), ('Apples','sweet'), ('Orange','sour'), ('Blueberries','sweet'), ('Limes','Sour') )
Sour_Fruits = []
for i in fruits:
    if i[1].lower()=='sour':
        Sour_Fruits.append(i[0])
print(f'Sour Fruits:{Sour_Fruits}')

Sour Fruits:['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

### 13. Given below are the list of positive and negative words. Also a list of tweets is provided. Separate out the positive and negative comments

<br>positive = ['good','awesome', 'best', 'nice']

<br>negative = ['worst','awful', 'bad']

<br>tweets = ['This government policies are good', 
'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', 'It's nice to hear this little kid's laugh']

In [115]:
tweets = ['This government policies are good', 'bad implementation', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', 'The wine tastes awful', "It's nice to hear this little kid's laugh"]
# for i in tweets:
#     i = i.split(' ')
#     print(i)
#     if ['good','awesome', 'best', 'nice'] in i:
#         print('Yes')
#     if ['worst','awful', 'bad'] in i:
#         print('No')

#matching = [s for s in my_list if any(xs in s for xs in matchers)]
#matching = [s for s in tweets if any(xs in s for xs in ['good','awesome', 'best', 'nice'])]
positive = []
negative = []
for s in tweets:
    for xs in ['good','awesome', 'best', 'nice']:
        if xs in s:
            positive.append(s)
    for xs in ['worst','awful', 'bad']:
        if xs in s:
            negative.append(s)
            
print(f'The positive tweets: {positive}')
print("---------------------------------------------")
print(f"The negative tweets: {negative}")

The positive tweets: ['This government policies are good', 'The way he played showed that he is one of the best players in the world', 'Her acting in the play was awesome', "It's nice to hear this little kid's laugh"]
---------------------------------------------
The negative tweets: ['bad implementation', 'The wine tastes awful']

### 14. Write a program that performs multiplication of the following two matrix

X = [[1,2,3],
    [4 ,5,6],
    [7 ,8,9]]

Y = [[1,8,1],
    [3,7,3],
    [4,5,9]]

### 15. Write a program to remove space from keys of the given dictionary

Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'}; 

Output:
<br>New dictionary :  {'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

In [141]:
Employee = {'emp 01' : 'Raj', 'emp 02' : 'Sheela', 'emp 0 3 ': 'Joseph'};
#{(s.replace(' ','') for s in Employee)}
new_dectionary = {}
for i in Employee:
    j = i.replace(' ','')  
    new_dectionary[j]=Employee[i]
print(f"New dectionary:{new_dectionary}")

New dectionary:{'emp01': 'Raj', 'emp02': 'Sheela', 'emp03': 'Joseph'}

### 16.  Write a program to display the subjects for which the scores are between 300 and 500 (inclusive) in the given dataframe

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Subject</th>
 <th>Score</th>
 </tr>
 <tr>
 <td>Maths</td>
 <td>345</td>
 </tr>
 <tr>
 <td>Physics</td>
 <td>432</td>
 </tr>
 <tr>
 <td>Chemistry</td>
 <td>456</td>
 </tr>
 <tr>
 <td>Biology</td>
 <td>234</td>
 </tr>
 <tr>
 <td>Geology</td>
 <td>254</td>
 </tr>
    
</table>

In [ ]:
Subject = ['Maths','Physics','Chemistry','Biology','Geology']
Score = [345,432,456,234,254 ]

### 17. Write a program to find numbers between 10000 to 20000 from a given array

**Use the list given below:**

Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

In [143]:
Sales = [1432,143223,2043332,1642357,54327,754338,12459,75435,224454,1433,12447,25532,86674,74338,12678]

print('No. between 10000 to 20000:')
for i in Sales:
    if 10000 < i <20000:
        print(i)

No. between 10000 to 20000:
12459
12447
12678

### 18. Write a program to sort the dataframe by Rank (in ascending order)

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Name</th>
 <th>Rank</th>
 </tr>
 <tr>
 <td>Joy</td>
 <td>115</td>
 </tr>
 <tr>
 <td>Mia</td>
 <td>451</td>
 </tr>
 <tr>
 <td>Karan</td>
 <td>341</td>
 </tr>
 <tr>
 <td>Tom</td>
 <td>84</td>
 </tr>
    
</table>

### 19. Use the data given in the question 18, to do the following:
 Write a program to swap the 1st and 2nd row in a dataframe

### 20. Write a program to replace 0 and 1 in Gender variable with M and F

**Use the dataframe given below:**
    
<table>
 <tr>
 <th>Id</th>
 <th>Name</th>
 <th>Age</th>
 <th>Gender</th>
 </tr>
 <tr>
 <td>1</td>
 <td>Mia</td>
 <td>47</td>
 <td>1 </td>
 </tr>
 <tr>
 <td>2</td>
 <td>Sara</td>
 <td>38</td>
 <td>1</td>
 </tr>
 <tr>
 <td>3</td>
 <td>Joy</td>
 <td>47</td>
 <td>0</td>
 </tr>
 <tr>
 <td>4</td>
 <td>Karan</td>
 <td>41</td>
 <td>0</td>
 </tr>
    
</table>

### 21. Convert a 1D array to a 2D array containing 2 rows

**Use the array given below:**
    
dim_1 = ([331, 245, 246, 475, 348, 229])

### 22. Find the average cost of each variety of product available in the three different shops

**Use the data given below:**
    
[[10, 20, 30], [17, 14, 21], [25, 15, 12]],
  columns=['product_a', 'product_b', 'product_c'],
  index=['Shop1', 'Shop2', 'Shop3']

### 23. Write a program to create a histogram using given data

**Use the list given below:**

weight = [34,56,43,22,2,58,89,78,67,56,65,43,23]

### 24. Write a program to delete items from series_a that are present in series_b and print the updated series_a

**Use the series given below:**
    
series_a = ([11, 12, 13, 14, 15])<br>
series_b= ([14, 15, 16, 17, 18])

### 25. Create a series of 40 random numbers and transform it into a dataframe containing seven columns and five rows

### 26. Get common elements from the two arrays

**Use the array given below:**<br>
      
      test_a = np.array([11,12,13,22,23,44,43,24,45,36])
      test_b = np.array([17,22,13,22,47,34,39,44,29,28])

### 27. Import dataset 'flights' from library seaborn. Check for datatypes of all variable.

### 28. Compute total sales for each product and country

**Use the dataframe given below:**
   
<table>
<tr>
<th>Product</th>
<th>Country</th>
<th>Sales</th>
</tr>
<tr>
<td>A</td>
<td>USA</td>
<td>44000</td>
</tr>
<tr>
<td>J</td>
<td>Japan</td>
<td>43000</td>
</tr>
<tr>
<td>A</td>
<td>Europe</td>
<td>54000</td>
</tr>
<tr>
<td>L</td>
<td>Japan</td>
<td>95600</td>
</tr>
<tr>
<td>R</td>
<td>Europe</td>
<td>79000</td>
</tr>
<tr>
<td>A</td>
<td>USA</td>
<td>67000</td>
</tr>
<tr>
<td>R</td>
<td>USA</td>
<td>68000</td>
</tr>
<tr>
<td>J</td>
<td>Japan</td>
<td>38000</td>
</tr>
<tr>
<td>L</td>
<td>USA</td>
<td>59000</td>
</tr>
<tr>
<td>A</td>
<td>Europe</td>
<td>60000</td>
</tr>
   
</table>

### 29. Get the descriptive statistics of the sales for each Country

### 30. Reverse each of the rows of the 2D array

**Use the array given below:**<br>

    num_array = np.arange(20).reshape(4,5)